extends ../layout.pug

block append head
    title= __('jeneric.cms.install.step-1.title')
    meta(name="description" content=__('jeneric.cms.install.step-1.description'))

block content

    h1= __('jeneric.cms.install.step-1.headline')

    p We can not find a default user in the database. Please create a new one.

    +formError(form=form)

    +form(method='post' form=form)
        .form-group
            label(for='email') Email
            +textfield.form-control(type='email' name='email' form=form)
        .form-group
            label(for='password') Password
            +textfield.form-control(type='password' name='password' form=form)
        button.btn.btn-primary(type='submit') Submit
