extends ../layout.pug

block append head
    title=trans('jeneric.install.title')
    meta(name="description" content=trans('jeneric.install.description'))

block content

    .jeneric-page.jeneric-page-install

        .jeneric-install

            h1.h3=trans('jeneric.install.headline')

            +formError(form=form)

            +form(method='post' form=form)
                .form-group
                    +textfield.form-control(type='email' name='email' form=form required='required' placeholder=trans('jeneric.form.label.email'))
                    label(for='email')=trans('jeneric.form.label.email')
                .form-group
                    +textfield.form-control(type='password' name='password' form=form required='required' placeholder=trans('jeneric.form.label.password'))
                    label(for='password')=trans('jeneric.form.label.password')
                button.btn.btn-primary(type='submit')=trans('jeneric.form.submit')
