extends ../layout.pug

block append head
    title=trans('jeneric.install.title')
    meta(name="description" content=trans('jeneric.install.description'))

block content

    .jeneric-page.jeneric-page-panel

        .jeneric-panel

            .jeneric-logo
                span J
                span E
                span N
                span E
                span R
                span I
                span C

            .jeneric-panel-content

                h2 INSTALLATION

                h2.h3=trans('jeneric.install.headline')

                .jeneric-hint

                    p In hac habitasse platea dictumst. Maecenas malesuada.. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Fusce pharetra convallis urna.

                +formError(form=form)

                +form(method='post' form=form)
                    .form-group
                        +textfield.form-control(type='email' name='email' form=form required='required' placeholder=trans('jeneric.form.label.email'))
                        label(for='email')=trans('jeneric.form.label.email')
                    button.btn.btn-primary(type='submit')=trans('jeneric.form.submit')

            .jeneric-panel-footer
                p
                    | JENERIC Content Management System
                    br

