extends ../layout-signed-out.pug

block append head
    title=trans('jeneric.install.user_creation.title')
    meta(name="description" content=trans('jeneric.install.user_creation.description'))

block content

    h2=trans('jeneric.install.user_creation.title')

    h2.h3=trans('jeneric.install.user_creation.headline')

    .jeneric-text
        p=trans('jeneric.install.user_creation.text')

    +error(errors=form.errors)

    +form(method='post' form=form)
        .form-group
            label(for='email')=trans('jeneric.form.label.email')
            +textfield.form-control(id='email' type='email' name='email' form=form required='required')

        button.btn.btn-primary(type='submit')=trans('jeneric.form.submit')



