extends ../layout.pug

block append head
    title=trans('jeneric.install.title')
    meta(name="description" content=trans('jeneric.install.description'))

block content

    .jeneric-page.jeneric-page-panel

        .jeneric-panel

            h1.h3=trans('jeneric.user.password.headline')

            +formError(form=form)

            +form(method='post' form=form)
                .form-group
                    +textfield.form-control(id='password' type='password' name='password' form=form required='required' placeholder=trans('jeneric.form.label.password'))
                    label(for='password')=trans('jeneric.form.label.password')
                .form-group
                    +textfield.form-control(id='password-repeat' type='password' name='passwordRepeat' form=form required='required' placeholder=trans('jeneric.form.label.password_repeat'))
                    label(for='password-repeat')=trans('jeneric.form.label.password_repeat')

                button.btn.btn-primary(type='submit')=trans('jeneric.form.submit')
