extends ../layout-signed-out.pug

block append head
    title=view.jeneric.translate('jeneric.user.password_reset.title')
    meta(name='description' content=view.jeneric.translate('jeneric.user.password_reset.description'))

block content

    h1.h2=view.jeneric.translate('jeneric.user.password_reset.headline')

    .jeneric-text
        p=view.jeneric.translate('jeneric.user.password_reset.text')

    +error(errors=form.errors)

    +form(method='post' form=form)
        .form-group
            label(for='email')=view.jeneric.translate('jeneric.form.label.email')
            +textfield.form-control(id='email' type='email' name='email' form=form required='required')

        button.btn.btn-primary(type='submit')=view.jeneric.translate('jeneric.form.submit')



