extends ../layout-signed-out.pug

block append head
    title Login
    meta(name="description" content="Jeneric Login")

block content

    .jeneric-page.jeneric-page-sign-in

        .jeneric-sign-in

            +error(errors=form.errors)

            +form(method='post' form=form)
                .form-group
                    label(for='email')=trans('jeneric.form.label.email')
                    +textfield.form-control(id='email' type='email' name='email' form=form required='required')

                .form-group
                    label(for='password')=trans('jeneric.form.label.password')
                    +textfield.form-control(id='password' type='password' name='password' form=form required='required')

                button.btn.btn-primary(type='submit') Submit
